@import url(bootstrap.css?v=1);
@import url(jquery-ui.css?v=1);
@import url(font-awesome.min.css?v=1);
@import url(themify-icons.min.css?v=1);
@import url(animate.css?v=1);
@import url(../js/lib/vendor/ui/perfect-scrollbar/perfect-scrollbar.min.css?v=1);

/*@import url(../js/vendor/components/switchery/switchery.min.css?v=1);*/

@import url(styles.css?v=1);
@import url(plugins.css?v=1);
@import url(themes/theme-1.css?v=1);
html,
body {
    font-family: 'Microsoft Yahei'
}


/*#container{
    height: 100%;
    overflow-y: scroll;
    bottom: 0;
    position: absolute;
}*/

:focus {
    outline: none;
}

.wrap-content {
    padding-right: 0;
    padding-left: 0;
}

a:hover {
    text-decoration: none;
}
/*表单*/
.input-daterange .input-group-addon {
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
form.underline .form-group{
    border-bottom: 1px dashed #dee5e7;
    padding-bottom: 15px;
}
/*评分*/
.text-extra-large {
    font-size: 17px !important;
}
/*loading*/

.loading-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin: 40px auto auto -100px;
}

.icon-spin {
    -webkit-animation: spin 1.5s infinite linear;
    -moz-animation: spin 1.5s infinite linear;
    -o-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear;
    text-align: center;
    color: #92a0b3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    /*background-color: #ccc;*/
    margin: -30px auto auto -30px;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0)
    }
    100% {
        -o-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.icon-sm {
    font-size: 22px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: -20px auto auto -20px;
}

.icon-lg {}


/*模态框*/

.right-modal {
    z-index: 1000 !important;
}

.right-modal .modal-content {
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
}

.right-modal .modal-body {
    position: absolute;
    top: 56px;
    bottom: 65px;
    overflow-y: auto;
}

.right-modal .modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.right-modalBg .modal-backdrop {
    opacity: 0.01;
}


/*分页*/

.pagination {
    margin: 0;
}

.pagination .info {
    border: none;
    cursor: inherit;
    color: #333;
}

.pagination .info:hover {
    background-color: transparent;
    color: #333;
}

.pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination button .caret {
    margin-left: 3px;
}

.pagination .dropdown-menu {
    width: 50px;
    min-width: 50px;
}

.pagination .dropdown-menu a {
    padding: 2px 10px;
}


/*表格*/

.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}

.datatable thead > tr > th {
    border-bottom: none;
    border-right: 1px solid #ddd;
    position: relative;
}

.datatable thead > tr > th > div.selected {
    /*border: 1px dashed #ccc;*/
    visibility: hidden;
}

.datatable thead > tr > th[colspan] {
    border-bottom: 1px solid #ddd;
}

.datatable thead > tr > th .colHandler {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    margin-right: -5px;
}

.datatable thead > tr > th .caret {
    position: absolute;
    top: 50%;
    right: 5px;
    border: 5px solid transparent;
}

.datatable thead > tr > th .caret.up {
    margin-top: -10px;
    border-bottom: 5px dashed #ccc;
}

.datatable thead > tr > th .caret.up.active {
    border-bottom: 5px dashed #007AFF;
}

.datatable thead > tr > th .caret.down {
    margin-top: 3px;
    border-top: 5px dashed #ccc;
}

.datatable thead > tr > th .caret.down.active {
    border-top: 5px dashed #007AFF;
}


/*头部*/

.crm-home-left,
.crm-home-top {
    line-height: 30px;
}


/*下拉菜单*/

.caret.sub {
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
}

.dropdown-menu.left,
.nav-tabs.nav-justified > .dropdown .dropdown-menu.left {
    right: 100%;
    top: 0;
    left: inherit;
}

.dropdown-menu.right,
.nav-tabs.nav-justified > .dropdown .dropdown-menu.right {
    left: 100%;
    top: 0;
    right: inherit;
}

.top-head-menu > .activate {
    background-color: #0171A9;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3px;
}

.top-head-menu > .activate >input {
    border-width: 0;
    background-color: #0171A9;
    color: #fff;
    width: 168px;
}

.top-head-menu > .activate > input::-webkit-input-placeholder {
    color: #f0f0f0;
    opacity: 0.9;
}

.top-head-menu > .activate > input:-moz-placeholder {
    color: #f0f0f0;
    opacity: 0.9;
}

.top-head-menu > .activate > input::-moz-placeholder {
    color: #f0f0f0;
    opacity: 0.9;
}

.top-head-menu > .activate > input:-ms-input-placeholder {
    color: #f0f0f0;
    opacity: 0.9;
}


/*选择人员*/

.dialog_title_search {
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #ced1d6;
    display: none;
}

.ui-dialog-buttonset .ui-button:first-child .ui-button-text {
    color: #fff;
}

.left_list_con {
    float: left;
    width: 45%;
    height: 100%;
    border: 1px solid #ced1d6;
    border-radius: 3px;
    box-sizing: border-box;
}


/*内容区*/

.tabpanel-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
}


/*IM*/

.chat_container {
    height: 415px !important;
    overflow: auto;
    padding: 20px;
    background: #f7f7f7;
}

.textarea_content_text {
    width: 300px !important;
}


/*IM头像*/

.crm-image-show-client {
    position: absolute;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.crm-image-show-client img {
    border-radius: 5px;
    vertical-align: top;
}
