<div class="two_list_container">
    <div class="top_title_dialog"><span class="left_list_name">公司所有人</span><span class="right_list_name">已添加的讨论组成员</span></div>
    <div class="list_dialog_body">
        <div class="left_list_con">
            <div class="dialog_title_search" style="display: block;">
                <input class="dialog_title_input" type="text" placeholder="搜索">
            </div>
            <div class="selection_list_body">
                <div id="left_list_display" class="left_list_ul_display">
                    <!-- 人员树 -->
                </div>
                <ul id="left_list_hidden" class="left_list_ul_hidden"></ul>
            </div>
        </div>
        <div class="middle_direction">
            <div class="middle_direction_image"></div>
            <div class="middle_direction_image right_direction"></div>
        </div>
        <div class="right_list_con">
        <!-- 已选人员 -->
        </div>
        <div class="right_arrow_icon none"><span class="up icon"></span><span class="down icon"></span></div>
    </div>
</div>
<style type="text/css">
#crm_dialog_tree {
    line-height: 0;
    height: 305px;
}
#crm_dialog_tree a {
    width: auto;
    border-bottom: 0;
    height: 19px;
    line-height: 19px;
}
</style>