<h1 id="depart_<%= id %>" class="list_departName_h1"><%= name %> [<span class="list_departName_num"><%= count %></span>]</h1>
<ul class="depart_member">
	<% _.each(children, function(val, index){ %>
    <li data-chatid="<%= val.imAccountId || 0 %>" data-userid="<%= val.userId %>" class="depart_member_li ui-draggable">
        <a href="javascript:void(0);" class="depart_user">
            <%= HBY.ux.util.IM.getImage(val.photoUrl, val.displayName) %>
        </a>
        <p class="userNickname"><%= val.displayName %></p>
        <p class="userPosname"> <%= val.staffNo %></p>
        <span class="selectIcon" style="display:none;"></span>
    </li>
    <% }); %>
</ul>
