<div class="sidebar-container perfect-scrollbar ps-container ps-active-y">
    <nav>
        <!-- start: SEARCH FORM -->
        <div class="search-form">
            <a class="s-open" href="#">
                <i class="ti-search"></i>
            </a>
            <form class="navbar-form" role="search">
                <a class="s-remove" href="#" target=".navbar-form">
                    <i class="ti-close"></i>
                </a>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                    <button class="btn search-button" type="submit">
                        <i class="ti-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- end: SEARCH FORM -->
        <!-- start: MAIN NAVIGATION MENU -->
<!--         <div class="navbar-title">
            <span>菜单</span>
        </div> -->
        <ul class="main-navigation-menu">
            <li class="active open">
                <a href="#test/index">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-home"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 仪表板 </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-settings"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> UI 元素 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#test/page_2">
                            <span class="title"> 元素 </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_buttons.html">
                            <span class="title"> 按钮 </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_links.html">
                            <span class="title"> 链接 </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_line_icons.html">
                            <span class="title"> 字体 </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_modals.html">
                            <span class="title"> 模态框 </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_toggle.html">
                            <span class="title"> Toggle </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_tabs_accordions.html">
                            <span class="title"> Tabs &amp; Accordions </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_panels.html">
                            <span class="title"> Panels </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_notifications.html">
                            <span class="title"> Notifications </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_treeview.html">
                            <span class="title"> Treeview </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_media.html">
                            <span class="title"> Media Object </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_nestable.html">
                            <span class="title"> Nestable List </span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_typography.html">
                            <span class="title"> Typography </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-layout-grid2"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 表格 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            <span class="title">Basic Tables</span>
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            <span class="title">Responsive Tables</span>
                        </a>
                    </li>
                    <li>
                        <a href="table_data.html">
                            <span class="title">Advanced Data Tables</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-pencil-alt"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 表单 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#test/page_2">
                            <span class="title">表单页</span>
                        </a>
                    </li>
                    <li>
                        <a href="form_text_editor.html">
                            <span class="title">Text Editor</span>
                        </a>
                    </li>
                    <li>
                        <a href="form_wizard.html">
                            <span class="title">Form Wizard</span>
                        </a>
                    </li>
                    <li>
                        <a href="form_validation.html">
                            <span class="title">Form Validation</span>
                        </a>
                    </li>
                    <li>
                        <a href="form_image_cropping.html">
                            <span class="title">Image Cropping</span>
                        </a>
                    </li>
                    <li>
                        <a href="form_multiple_upload.html">
                            <span class="title">Multiple File Upload</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-user"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 登录 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="login_signin.html">
                            <span class="title"> Login Form </span>
                        </a>
                    </li>
                    <li>
                        <a href="login_registration.html">
                            <span class="title"> Registration Form </span>
                        </a>
                    </li>
                    <li>
                        <a href="login_forgot.html">
                            <span class="title"> Forgot Password Form </span>
                        </a>
                    </li>
                    <li>
                        <a href="login_lockscreen.html">
                            <span class="title">Lock Screen</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-layers-alt"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 页面 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="pages_user_profile.html">
                            <span class="title">User Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages_invoice.html">
                            <span class="title">Invoice</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages_timeline.html">
                            <span class="title">Timeline</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages_calendar.html">
                            <span class="title">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages_messages.html">
                            <span class="title">Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages_blank_page.html">
                            <span class="title">Blank Page</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-package"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 其他 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="utilities_search_result.html">
                            <span class="title">Search Results</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_error_404.html">
                            <span class="title">Error 404</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_error_500.html">
                            <span class="title">Error 500</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_pricing_table.html">
                            <span class="title">Pricing Table</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-folder"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 三级菜单 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <span>Item 1</span> <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                                    Sample Link 1
                                                </a>
                            </li>
                            <li>
                                <a href="#">
                                                    Sample Link 2
                                                </a>
                            </li>
                            <li>
                                <a href="#">
                                                    Sample Link 3
                                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>Item 2</span> <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                                    Sample Link 1
                                                </a>
                            </li>
                            <li>
                                <a href="#">
                                                    Sample Link 2
                                                </a>
                            </li>
                            <li>
                                <a href="#">
                                                    Sample Link 3
                                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>Item 3</span> <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                                    Sample Link 1
                                                </a>
                            </li>
                            <li>
                                <a href="#">
                                                    Sample Link 2
                                                </a>
                            </li>
                            <li>
                                <a href="#">
                                                    Sample Link 3
                                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-menu-alt"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 四级菜单 </span><i class="icon-arrow"></i>
                        </div>
                    </div>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <span>Item 1</span> <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>Item 2</span> <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>Item 3</span> <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                                            Sample Link 1
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 2
                                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                            Sample Link 3
                                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="maps.html">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 地图 </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="charts.html">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-pie-chart"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> 图表 </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <!-- end: MAIN NAVIGATION MENU -->
    </nav>
</div>
