<div id="normaClientContainer" class="main-section client-wrap">
    <div class="clientsearch-section">
        <div class="clientsearch-header">
            <div>
                <span>销售管理</span>
                <em>&gt;</em>
                <span>客户</span>
                <em>&gt;</em>
                <span>我的客户</span>
                <strong><a href="http://www.winbons.com/win/hby_q_d_b.html" target="_black">本页帮助</a></strong>
            </div>
            <h1>
            <span class="client-link normal-client sel marginR20">我的客户</span>
            <span class="public-sea-client-link client-link">公海客户</span>
            <div class="clientsearch-action-buttons">
            
                <span class="clientsearch-button crm-button-yellow " id="clients_create">
                    新建客户
                </span>
            
                <span class="clientsearch-button crm-button-grey " id="clients_import">
                    导入客户
                </span>
            </div>
        </h1>
        </div>
        <div class="clientsearch-headsection">
            <div class="clientsearch-clientsection" onselectstart="return false;">
                <div class="clientsearch-clientinfo" type="currentUser">
                    <!-- <span class="clientsearch-userimage"></span> -->
                    <span class="clientsearch-username">余荣辉</span>
                    <span class="clientsearch-pulldown-icon"></span>
                </div>
                <div class="clientsearch-clientinfo" type="userConnection">
                    <span class="clientsearch-clientname1">全部客户</span>
                    <span class="clientsearch-pulldown-icon"></span>
                </div>
                <div class="clientsearch-time-box">
                    <input type="text" id="client-str-time">
                    <span>~</span>
                    <input type="text" id="client-end-time">
                </div>
                <div class="clientsearch-clientinfo" type="tagFilter">
                    <span class="clientsearch-tagname">选择标签</span>
                    <span class="clientsearch-pulldown-icon"></span>
                </div>
                <div class="search_buttom" id="clients_filt"><span></span>筛选</div>
            </div>
        </div>
        <div class="clientsearch-bodysection">
            <div class="clientsearch-merage">
                <div class="client-top-slide" style="width: 100%;">
                    <div class="inner-content-con"><span class="new-delete-client">删除</span><span class="new-merage-client">合并</span><span class="new-transfer-client">转移</span><span class="new-open-client">公开</span><span class="to-cooperate-client next">转为合作客户</span><strong class="new-client-num">共0个客户</strong></div>
                </div>
            </div>
            <div class="clientsearch-grid SlickGrid_7834 ui-widget" style="overflow: hidden; outline: 0px;">
                <div tabindex="0" hidefocus="" style="position:fixed;width:0;height:0;top:0;left:0;outline:0;"></div>
                <div class="slick-header ui-state-default" style="overflow:hidden;position:relative;">
                    <div class="slick-header-columns ui-sortable" unselectable="on" style="width: 2820px;">
                        <div class="ui-state-default slick-header-column" id="SlickGrid_7834_checkbox_selector" title="全选/反选" style="width: 30px;"><span class="slick-column-name"><input type="checkbox"></span></div>
                        <div class="ui-state-default slick-header-column" id="SlickGrid_7834110102" title="" style="width: 150px;"><span class="slick-column-name">客户名称</span>
                            <div class="slick-resizable-handle"></div>
                        </div>
                        <div class="ui-state-default slick-header-column" id="SlickGrid_7834110101" title="" style="width: 110px;"><span class="slick-column-name">所有者</span>
                            <div class="slick-resizable-handle"></div>
                        </div>
                        <div class="ui-state-default slick-header-column" id="SlickGrid_7834110103" title="" style="width: 150px;"><span class="slick-column-name">客户类型</span>
                            <div class="slick-resizable-handle"></div>
                        </div>
                        <div class="ui-state-default slick-header-column" id="SlickGrid_7834110113" title="" style="width: 150px;"><span class="slick-column-name">城市</span>
                            <div class="slick-resizable-handle"></div>
                        </div>
                        <div class="ui-state-default slick-header-column" id="SlickGrid_7834110114" title="" style="width: 1152px;"><span class="slick-column-name">创建时间</span>
                            <div class="slick-resizable-handle"></div>
                        </div>
                    </div>
                </div>
                <div class="slick-headerrow ui-state-default" style="overflow: hidden; position: relative; display: none;">
                    <div class="slick-headerrow-columns" style="width: 1802px;"></div>
                    <div style="display: block; height: 1px; position: absolute; top: 0px; left: 0px; width: 1802px;"></div>
                </div>
                <div class="slick-top-panel-scroller ui-state-default" style="overflow: hidden; position: relative; display: none;">
                    <div class="slick-top-panel" style="width:10000px"></div>
                </div>
                <div class="slick-viewport" style="width: 100%; overflow: auto; outline: 0px; position: relative; height: 228px;">
                    <div class="grid-canvas" style="height: 211px; width: 1802px;"></div>
                </div>
                <div tabindex="0" hidefocus="" style="position:fixed;width:0;height:0;top:0;left:0;outline:0;"></div>
                <div class="not-data" style="position:absolute; top:50%; width:100%; text-align:center">暂无数据</div>
            </div>
        </div>
        <div class="clientsearch-slickgrid-load" onselectstart="return false;" style="display: none;">
            <div class="cientsearch-slickgrid-icon">
                <span class="first-page"></span>
                <span class="pre-page"><span></span>上一页</span>
                <input class="current-page-num" type="text">
                <span class="next-page">下一页<span></span></span>
                <span class="last-page"></span>
                <span class="refresh-page"></span>
                <span class="cientsearch-rows-label">行数</span>
                <span class="clientsearch-griddata-load"><div class="pulldown-container"><div class="pulldown-search-wrapper"><span class="search-content"><input type="text" value="" class="search" placeholder="搜索"></span><span class="icon-search" title="搜索"></span></div>
            <div class="pulldown-list ps-container" style="display: none; height: 0px; overflow: hidden; border-bottom-width: 0px;" data-ps-id="62d742ef-37e3-27f4-f238-6f0d88393d0b">
                <div id="0" class="row-content  opts" title="20" style="height: 30px; line-height: 30px;">20</div>
                <div id="1" class="row-content  opts" title="30" style="height: 30px; line-height: 30px;">30</div>
                <div id="2" class="row-content  opts" title="40" style="height: 30px; line-height: 30px;">40</div>
                <div id="3" class="row-content  opts" title="50" style="height: 30px; line-height: 30px;">50</div>
                <div class="searchNoResult none">没有数据</div>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                    <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                </div>
            </div>
            <div class="pulldown-input"><span class="pulldown-text">20</span><span class="pulldown-icon"></span></div>
        </div>
        </span>
        <span class="clientsearch-totalpage">总页数:<span class="clientsearch-totalpage-num">1</span>页</span>
        <span class="clientsearch-totalcount">总客户数 :0</span>
    </div>
</div>
<div class="column_button"><span></span></div>
</div>
</div>
