<div class="two_list_container">
    <div class="list_dialog_body" style="top: 20px;">
        <div class="left_list_con" style="width:100%;">
            <div class="dialog_title_search" style="display: block;">
                <input class="dialog_title_input" type="text" placeholder="搜索">
            </div>
            <div class="selection_list_body">
                <div id="left_list_display" class="left_list_ul_display">
                    <!-- 人员树 -->
                </div>
                <ul id="left_list_hidden" class="left_list_ul_hidden"></ul>
            </div>
        </div>
        <div class="right_arrow_icon none"><span class="up icon"></span><span class="down icon"></span></div>
    </div>
</div>
<style type="text/css">
#crm_dialog_tree {
    line-height: 0;
    height: 305px;
}
#crm_dialog_tree a {
    width: auto;
    border-bottom: 0;
    height: 19px;
    line-height: 19px;
}
.li_item_css_on{
    background-color: #eaeef2;
}
</style>