<div class="block-title">
    <div class="block-options pull-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default" title="关闭" id="close" data-uid="message"><i class="fa fa-times"></i></a>
    </div>
    <h2>
        <div class="media">
            <span class="pull-left">
                <img src="" alt="Avatar" class="img-square img70x70">
            </span>
            <div class="media-body">
                <div class="push-bit">
                    <strong>asdfasd <small>fffff</small></strong>
                </div>
                <div>手机：45234523<br/>固话：234123</div>
            </div>
        </div>
    </h2>
</div>
<div class="block-content msg_blk">
    <div class="say-content">
        <ul class="panel-body">
            <li class="media">
                <div class="text-center"><small class="text-muted">9:10</small></div>
                <a href="javascript:void(0);" class="pull-right">
                    <img src="img/11jo1x_kqzgw5kbkrbhgrkugfjeg5sckzsew_500x750.jpg_100x100.jpg" class="circle">
                </a>
                <div class="say-body clearfix">
                    <div class="bg-green">
                        <span class="arrow right pull-up arrow-blue"></span>
                        <div class="push-bit">
                            sdfasdfasd
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="text-center"><small class="text-muted">9:10</small></div>
                <a href="javascript:void(0);" class="pull-left">
                    <img src="img/1_kqzdsm3ikrbfiqkugfjeg5sckzsew_768x1152.jpg_100x100.jpg" class="circle">
                </a>
                <div class="say-body clearfix">
                    <div class="bg-white">
                        <span class="arrow left pull-up arrow-white"></span>
                        <div class="push-bit">
                            sdfasdfasddddfffff
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="text-center"><small class="text-muted">9:10</small></div>
                <a href="javascript:void(0);" class="pull-right">
                    <img src="img/11jo1x_kqzgw5kbkrbhgrkugfjeg5sckzsew_500x750.jpg_100x100.jpg" class="circle">
                </a>
                <div class="say-body clearfix">
                    <div class="bg-green">
                        <span class="arrow right pull-up arrow-blue"></span>
                        <div class="push-bit">
                            如果你没有使用 jQuery 也能使用这两个库。但是不能像绑定一系列动画到JQ元素上那样，要把元素传进动画函数里
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="text-center"><small class="text-muted">9:10</small></div>
                <a href="javascript:void(0);" class="pull-right">
                    <img src="img/11jo1x_kqzgw5kbkrbhgrkugfjeg5sckzsew_500x750.jpg_100x100.jpg" class="circle">
                </a>
                <div class="say-body clearfix">
                    <div class="bg-green">
                        <span class="arrow right pull-up arrow-blue"></span>
                        <div class="push-bit">
                            sdfasdfasd
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="text-center"><small class="text-muted">9:10</small></div>
                <a href="javascript:void(0);" class="pull-left">
                    <img src="img/1_kqzdsm3ikrbfiqkugfjeg5sckzsew_768x1152.jpg_100x100.jpg" class="circle">
                </a>
                <div class="say-body clearfix">
                    <div class="bg-white">
                        <span class="arrow left pull-up arrow-white"></span>
                        <div class="push-bit">
                            sdfasdfasddddfffff
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="text-center"><small class="text-muted">9:10</small></div>
                <a href="javascript:void(0);" class="pull-left">
                    <img src="img/1_kqzdsm3ikrbfiqkugfjeg5sckzsew_768x1152.jpg_100x100.jpg" class="circle">
                </a>
                <div class="say-body clearfix">
                    <div class="bg-white">
                        <span class="arrow left pull-up arrow-white"></span>
                        <div class="push-bit">
                            两个最流行的JavaScript动画库是
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="block-title bottom">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-link" title="选择表情" id="qqface"><i class="fa fa-smile-o fa-2x"></i></button>
        </div>
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-sm" name="btnHistory">聊天记录</button>
        </div>
    </div>
    <form method="post" onsubmit="return false;" id="form-chat">
        <div class="input-group">
            <div contentEditable="true" id="chat-content" name="chat-content"></div>
            <span class="input-group-btn">
                <button type="button" class="btn btn-warning sendBtn">发送</button>
            </span>
        </div>
    </form>
</div>
