<div class="hb_tabPanel_container" style="position: relative;">
    <div class="hb_tabPanel_head" onselectstart="return false">
        <ul class="hb_tabPanel_titlelsit">
            <li id="tab_001" class="firstItem endItem tab_selected"><span class="tabPanel_title">任务</span><span></span></li>
        </ul><span class="hb_tabPanel_pullDown"><div class="hb_spaceRow"></div><div class="hb_pullDownIcon"></div></span></div>
    <div class="hb_tabPanel_separateLine"></div>
    <div class="hb_tabPanel_body" id="body_001" style="display: block;">
        <div class="home-total-tasks">
            <div class="home-tasks-left ps-container" data-ps-id="8cdfa349-461f-c83e-11ee-ff5ba00839b0">
                <ul class="home-task-project-area ht-task-left-ul none">
                    <li>
                        <a href="javascript:;" class="home-task-project-c">
                            <span class="ht-icon ht-calendar-icon"></span> 日历
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="home-task-project-t">
                            <span class="ht-icon ht-task-icon active"></span> 任务
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="home-task-project-p">
                            <span class="ht-icon ht-project-icon"></span> 项目
                        </a>
                    </li>
                </ul>
                <div class="htSelectedTabs">
                    <div class="htSelectedTabsContainer calendarContainer">
                        <!-- 日历 -->
                    </div>
                    <div class="htSelectedTabsContainer taskContainer" style="display: block;">
                        <ul class="home-task-type-area ht-task-left-ul">
                            <li class="selected">
                                <a href="javascript:;" class="home-task-project-all">
                                    <span class="ht-icon ht-responsible-icon"></span> 所有任务
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-re">
                                    <span class="ht-icon ht-responsible-icon"></span> 我负责的
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-pa">
                                    <span class="ht-icon ht-participateIn-icon"></span> 我参与的
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-as">
                                    <span class="ht-icon ht-assigned-inbox"></span> 我分配的
                                </a>
                            </li>
                        </ul>
                        <ul class="home-task-process-area ht-task-left-ul">
                            <li>
                                <a href="javascript:;" class="home-task-project-us">
                                    <span class="ht-icon ht-execution-icon active"></span> 未开始
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-ex">
                                    <span class="ht-icon ht-execution-icon active"></span> 执行中
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-com">
                                    <span class="ht-icon ht-complete-icon"></span> 已完成
                                </a>
                            </li>
                            <!--<li>
                        <a href="javascript:;" class="home-task-project-ov">
                            <span class="ht-icon ht-overdue-icon"></span>
                            已逾期
                        </a>
                    </li>-->
                        </ul>
                        <ul class="home-task-belongs-area ht-task-left-ul">
                            <li>
                                <a href="javascript:;" class="home-task-project-cl">
                                    <span class="ht-icon ht-client-icon"></span> 客户
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-co">
                                    <span class="ht-icon ht-contactor-icon"></span> 联系人
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-ot">
                                    <span class="ht-icon ht-others-icon"></span> 其它
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 项目 -->
                    <div class="htSelectedTabsContainer projectContainer">
                        <ul class="home-task-type-area ht-task-left-ul">
                            <li>
                                <a href="javascript:;" class="home-task-project-re">
                                    <span class="ht-icon ht-responsible-icon"></span> 我负责的
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-pa">
                                    <span class="ht-icon ht-participateIn-icon active"></span> 我参与的
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-as">
                                    <span class="ht-icon ht-assigned-inbox"></span> 我分配的
                                </a>
                            </li>
                        </ul>
                        <ul class="home-task-process-area ht-task-left-ul">
                            <li>
                                <a href="javascript:;" class="home-task-project-ex">
                                    <span class="ht-icon ht-execution-icon active"></span> 执行中
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-com">
                                    <span class="ht-icon ht-complete-icon"></span> 已完成
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="home-task-project-ov">
                                    <span class="ht-icon ht-overdue-icon"></span> 已过期
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                    <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                </div>
            </div>
            <div class="home-tasks-right">
                <div class="ht-top-bar">
                    <div class="dir"><span>协同办公</span><em>&gt;</em><span>任务</span><em>&gt;</em><span>所有任务</span><a href="http://www.winbons.com/win/hby_q_c_b.html" target="_black">本页帮助</a></div>
                    <div class="bar"><span>所有任务</span><span class="view-msg-task"><span class="view-msg-task">您有<span class="msg-task-num"></span>个更新任务</span>
                        </span>
                        <div class="ht-right-create-task"><a href="#" class="subtask-new crm-button-yellow">新建任务</a><a href="#" class="subtask-return crm-button-yellow none">返回任务列表</a></div>
                    </div>
                    <div class="msg-task-list"><span class="msg-task-item msg-new-task">新任务：<span class="msg-task-num"></span></span><span class="msg-task-item msg-outDate-task">快到期的任务：<span class="msg-task-num"></span></span><span class="msg-task-item msg-finish-task">已完成任务：<span class="msg-task-num"></span></span><span class="msg-task-item msg-remove-task">新移除的任务：<span class="msg-task-num"></span></span><span class="msg-task-item msg-reply-task">新讨论任务：<span class="msg-task-num"></span></span>
                    </div>
                </div>
                <div class="ht-right-top">
                    <div class="ht-right-top-left new-style" data-type="all" data-id="allTask">
                        <div class="pulldown-container">
                            <div class="pulldown-input"><span class="pulldown-text">全部任务</span><span class="pulldown-icon"></span></div>
                            <div class="pulldown-search-wrapper"><span class="search-content"><input type="text" value="" class="search" placeholder="搜索"></span><span class="icon-search" title="搜索"></span></div>
                            <div class="pulldown-list ps-container" style="display: none; height: 0px; overflow: hidden; border-top-width: 0px;" data-ps-id="15a707a1-5323-4d23-cde9-4556879a733f">
                                <div id="allTask" class="row-content  opts" title="全部任务" style="height: 30px; line-height: 30px;">全部任务</div>
                                <div id="priority_3" class="row-content  opts" title="重要且紧急" style="height: 30px; line-height: 30px;">重要且紧急</div>
                                <div id="priority_4" class="row-content  opts" title="重要但不紧急" style="height: 30px; line-height: 30px;">重要但不紧急</div>
                                <div id="priority_5" class="row-content  opts" title="紧急但不重要" style="height: 30px; line-height: 30px;">紧急但不重要</div>
                                <div id="priority_6" class="row-content  opts" title="不重要也不紧急" style="height: 30px; line-height: 30px;">不重要也不紧急</div>
                                <div id="period_week" class="row-content  opts" title="本周任务" style="height: 30px; line-height: 30px;">本周任务</div>
                                <div class="searchNoResult none">没有数据</div>
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                                    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                                    <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clientsearch-clientinfo tag-filter"><span class="clientsearch-tagname">选择标签</span><span class="clientsearch-pulldown-icon"></span></div>
                    <div class="tagFilter-pullDown-container"></div>
                    <div class="ht-right-top-right">
                        <div class="ht-tree-search-area">
                            <div class="addr-input-wrapper">
                                <input type="text" placeholder="任务搜索" value="" class="subtask-input"><span class="send-status send-status-search addr-input-search subtask-isearch" title="搜索"></span> </div>
                        </div>
                    </div>
                </div>
                <div class="ht-tree-head"><span class="ht-head-task-name">任务名称</span><span class="ht-head-task-priority">级别</span><span class="ht-head-task-onwer">负责人</span><span class="ht-head-task-progress">状态</span><span class="ht-head-task-startTime">开始时间</span><span class="ht-head-task-endTime">结束时间</span></div>
                <ul class="home-tasks-right-main ztree" id="subtask_main" style="bottom: 0px;"></ul>
            </div>
        </div>
    </div>
</div>
