<dl class="<%= !online && CONFIG.OPEN_CHAT ? 'filter-gray' : '' %>">
    <dt><a href="#mine/home/<%= uid %>" title="点击查看Ta的主页"><img class="radius18" src="<%= user.image || 'img/default-user.png' %>"></a></dt>
    <dd><a href="javascript:void(0);" title="点击私聊"><%= user.name %></a></dd>
</dl> 
<% if(unread_num){ %>
<div class="chat-number"><%= unread_num >= 100 ? '99+' : unread_num %></div>
<% } %>