<div class="content-scroll">
    <!--小类目-->
    <div class="category-small">
        <ul>
<!--             <li class="zi3">
                <a href="#modal/invitation/fadeIn">
                    <dl>
                        <dt><img class="radius18" src="css/images/denglu/guanzhu_1.png"></dt>
                        <dd><p>邀请好友</p><span><img src="css/images/zuo.png"></span></dd>
                    </dl>
                </a>
            </li> -->
            <li class="zi3">
                <a href="#works/list/recommend">
                    <dl>
                        <dt><img class="radius18" src="css/images/denglu/guanzhu_2.png"></dt>
                        <dd><p>大师推荐</p><span><img src="css/images/zuo.png"></span></dd>
                    </dl>
                </a>
            </li>
            <li class="zi3">
                <a href="#works/list/latest">
                    <dl>
                        <dt><img class="radius18" src="css/images/denglu/guanzhu_3.png"></dt>
                        <dd><p>最新作品</p><span><img src="css/images/zuo.png"></span></dd>
                    </dl>
                </a>
            </li>
            <li class="zi3">
                <a href="#works/list/class1">
                    <dl>
                        <dt><img class="radius18" src="css/images/denglu/guanzhu_4.png"></dt>
                        <dd><p>精品模板</p><span><img src="css/images/zuo.png"></span></dd>
                    </dl>
                </a>
            </li>
            <li class="zi3">
                <a href="#article/qq">
                    <dl>
                        <dt><img class="radius18" src="css/images/denglu/guanzhu_14.png"></dt>
                        <dd><p>QQ群</p><span><img src="css/images/zuo.png"></span></dd>
                    </dl>
                </a>
            </li>
            <li class="zi3">
                <a href="javascript:void(0);" id="notificationBtn">
                    <dl>
                        <dt><img class="radius18" src="css/images/system.png"></dt>
                        <dd><p>系统消息</p><div class="chat-number" style="display:none;">0</div></dd>
                    </dl>
                </a>
            </li>
        </ul>
    </div>
    <div class="last">
        <!--推荐关注-->
        <ul class="tui-guan zi3" id="followingList">

        </ul>
    </div>
</div>
