<!--类目-->
<div class="category bai-bg">
    <ul id="panel-tabs">
        <li class="cheng-txt" data-type="following">
            <a href="#chat/tab/following">
                <div class="guanzhu-pic"></div><span>关注</span>
                <div class="message-prompt" id="followingDot" style="display:none;"></div>
            </a>
        </li>
        <li data-type="followed">
            <a href="#chat/tab/followed">
                <div class="fensi-pic"></div><span>粉丝</span>
                <div class="message-prompt" id="followedDot" style="display:none;"></div>
            </a>
        </li>
    </ul>
</div>
<!--搜索联系人或联系框-->
<div class="search">
    <form>
        <input type="text" id="leftSearch" data-type="following">
        <a href="#chat/tab/following" id="closeSearch" style="display:none;"><i class="ti ti-close"></i></a>
    </form>
</div>
<div class="block1" id="tab-content">
<!--  -->
</div>
