<div class="liao-name bai-bg">
    <dl>
        <dt><img class="radius18" src="css/images/system.png"></dt>
        <dd>
            <p>系统消息</p>
            <span>iH5最专业/最牛逼的H5制作工具&创作服务平台</span>
        </dd>
    </dl>
    <div>
        <a href="javascript:void(0);" onclick="$('#notification').hide();">
            <i class="ti ti-close"></i>
        </a>
    </div>
</div>
<div class="liao-nei">
    <div class="chat-scroll">
        <ul id="notifi-li">

        </ul>
    </div>
</div>