<li class="time cleen"><%= Tool.getDateTime(parseInt(timestamp)) %></li>
<li class="he">
    <dl>
        <dt><img class="radius18" src="css/images/system1.png"></dt>
        <dd>
            <div></div><span class="text"><%= body %></span>
        </dd>
    </dl>
</li>