<% if(pagingType == 1){ %>
<!-- 分页风格1 -->
	<ul class="pagination">
		<li class="prev <% if(currentPage<=1){%>disabled<% } %>" data-page="prev">
		    <a href="javascript:void(0)" title="上一页"><i class="fa fa-chevron-left"></i></a>
		</li>
		<% for(var i=startPage; i<=endPage; i++) { %>
		<li data-page="<%= i%>" class="page <% if(i==currentPage){%>active<% } %>">
		    <a href="javascript:void(0)"><%= i%></a>
		</li>
		<% } %>
		<% if(showEllipsis){ %>
		<li class="disabled"><span>...</span></li>
		<% } %>
		<li class="next <% if(currentPage>=totalPages){%>disabled<% } %>" data-page="next">
		    <a href="javascript:void(0)" title="下一页"><i class="fa fa-chevron-right"></i></a>
		</li>
		<li class="refresh">
		    <a href="javascript:void(0)" title="刷新"><i class="ti-reload"></i></a>
		</li>
		<li>
		    <span class="info">行数:</span>
		</li>
		<li class="pageSize"><span class="info" style="padding:0;margin:0;"></span></li>
		<li>
		    <span class="info">总页数：<%= totalPages %> 页&nbsp;&nbsp;总数：<%= totalCount %></span>
		</li>
	</ul>
<% } %>

<% if(pagingType == 2){ %>
<!-- 分页风格2 -->
	<div class="pull-left" style="margin-top:25px;">
	    <span>第 <%= currentPage %> 页&nbsp;&nbsp;共 <%= totalPages %> 页</span>
	</div>
	<ul class="pagination">
		<li class="prev <% if(currentPage<=1){%>disabled<% } %>" data-page="prev">
		    <a href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a>
		</li>
		<% for(var i=startPage; i<=endPage; i++) { %>
		<li data-page="<%= i%>" class="page <% if(i==currentPage){%>active<% } %>">
		    <a href="javascript:void(0)"><%= i%></a>
		</li>
		<% } %>
		<% if(showEllipsis){ %>
		<li class="disabled"><span>...</span></li>
		<% } %>
		<li class="next <% if(currentPage>=totalPages){%>disabled<% } %>" data-page="next">
		    <a href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a>
		</li>
		<li>
		    <span class="info">第 <%= currentPage %> 页&nbsp;&nbsp;总数：<%= totalPages %> 页</span>
		</li>
	</ul>
<% } %>